body {
  background-color: #19a2ae;
  margin: 0;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  color: hsl(228, 45%, 44%);
}

.bottom-circle {
  position: absolute;
  bottom: -600px;
  right: -300px;
}

.profile-card {
  text-align: center;
}

.top-circle {
  position: absolute;
  top: -400px;
  left: -300px;

}
